<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container mt-5">
    <h1 class="text-center mb-5">Courses</h1>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Level</th>
            <th>With Bond</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.level}"></td>
            <td th:text="${course.withBond}"></td>
            <td>
                <a class="btn btn-secondary btn-sm" th:href="@{'/courses/edit/' + ${course.id}}">Edit</a>
                <form th:action="@{/courses/delete/{id}(id=${course.id})}" method="get" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/courses/add">Add Course</a>
</div>
</body>
</html>
